/**
 * Site mixins.
 *
 * Some base mixins have been predefined here.
 *
 * @author
 */

@mixin bp-lg {
    @media screen and (max-width: $grid-bp-lg) {
        @content;
    }
}

@mixin bp-md {
    @media screen and (max-width: $grid-bp-md) {
        @content;
    }
}

@mixin bp-sm {
    @media screen and (max-width: $grid-bp-sm) {
        @content;
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
